# Force C# detection
*.cs linguist-language=C#

# Unity-specific files to ignore for language stats
*.unity linguist-vendored
*.prefab linguist-vendored
*.mat linguist-vendored
*.meta linguist-vendored
*.anim linguist-vendored
*.controller linguist-vendored
*.asset linguist-vendored
*.mask linguist-vendored
*.physicMaterial linguist-vendored

# Plugins / external libraries
Assets/Plugins/** linguist-vendored
